#btn-new-exchange{
  padding: 10px 32px;
  cursor: pointer;
  border-radius: 4px;
  font-size: 20px;
  font-style: bold;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  background-color: #333;
  color: white;
}

table.table-fields{
  margin-left: auto;
  margin-right: auto;
}

#container-new-exchange{
  text-align: left;
  margin: 4px 0px 8px 20px;
  position: relative;
}

#btn-new-exchange:hover, #create-btn:hover{
  background-color: #f1f1f1;
  color: black;
}

label {
  padding: 8px;
}

input{
  margin: 8px;
}

.input-dollar{
  width: 80px;
}

label{
  font-size: 1.5em;
  font-display: bold;
  display: inline;
  padding-left: 8px;
}

#container-form{
  width: 20%;
  border: solid;
  border-color: #333;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  text-align: center;
  margin-bottom: 10px;
  margin-left: 20px;
  background-color: #f1f1f1;
  position: absolute;
  z-index: 1;
}

.container-btn-create{
  text-align: center;
}


#btn-create, #btn-close{
  margin-top: 30px;
  background-color: #333;
  color: white;
  padding: 5px 20px;
  border: none;
  width: 30%;
  opacity: 0.9;
  font-size: 1.5em;
  font-display: bold;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#btn-close{
  background-color: red;
  margin-bottom: 8px;
  margin-top: 8px;
}

button:active{
  background: #e5e5e5;
  -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
  -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
  box-shadow: inset 0px 0px 5px #c1c1c1;
  outline: none;
}

button:hover{
  cursor: pointer;
}

.input-text[type='text'], .input-dollar[type='number']{
  font-size: 1.5em;
}

.input-dollar[type="number"] {
  -moz-appearance: textfield;
}

.input-dollar[type="number"]::-webkit-outer-spin-button, .input-dollar[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#min-price{
  margin-right: 5%;
}

input:-webkit-autofill:focus, .input-text:focus, .input-dollar:focus{
    -webkit-box-shadow: 0 0 0 30px yellow inset !important;
}

input:-webkit-autofill, .input-text, .input-dollar{
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

.show {
  -webkit-animation: fadeIn .3s;
  animation: fadeIn .3s;
}
