<div class='Navbar'>
  <ul>
    <li *ngIf="authService.isLoggedIn()"><a (click)="onLogoutClick()" href="#">Logout</a></li>
    <li *ngIf="!authService.isLoggedIn()" [routerLinkActive]="['active']"><a routerLink="/register">Register</a></li>
    <li *ngIf="!authService.isLoggedIn()" [routerLinkActive]="['active']"><a routerLink="/login">Login</a></li>
    <li *ngIf="authService.isLoggedIn()" [routerLinkActive]="['active']"><a routerLink="/home">Home</a></li>
    <li style="float:left; color:white"><a class="title">GiftMe</a></li>
  </ul>
  <br>
</div>
