<header>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</header>

<body>
  <h1 id="title">Login</h1>
  <hr>

  <div class="LoginBox">
    <label for="UserName">UserName:</label>
    <input type="text" name="UserName" [(ngModel)]="UserName" placeholder="UserName">
  </div>

  <div class="LoginBox">
      <label for="psswd">Password:</label>
      <input type="password" name="Password" [(ngModel)]="Password" placeholder="Password">
  </div>

  <div class="submitBtn">
    <button type="submit" (click)="onLoginUser()">Login</button>
  </div>

  <div class="Register">
    <p>Don't have an account? <a routerLink="/register">Create one!</a></p>
  </div>

</body>
